<ul id="findtb-menu">

        {% ifnotequal view_name "findtb-eqa-dashboard" %}
     	    <!--<li><a href="{% url findtb-eqa-dashboard %}">EQA dashboard</a></li>-->
     	    <li>EQA dashboard</li>
     	{% else %}
     	    <li>EQA dashboard</li>
     	{% endifnotequal %}
     	
     	{% ifnotequal view_name "findtb-sref-dashboard" %}
     	    <li class="last"><a href="{% url findtb-sref-dashboard %}">Specimen referral dashboard</a></li>
     	{% else %}
     	    <li class="last">Specimen referral dashboard</li>
     	{% endifnotequal %}
     	
</ul>
