{% extends "findtb-dashboard.html" %}

{% block page-id %}eqa-dashboard{% endblock %}

{% block title %}EQA Dashboard{% endblock %}


{% block findtb-title %}EQA Dashboard{% endblock %}



{% block findtb-events-title %}
    Recent follow up for all the 
    <acronym title="Diagnostic and Treatment Units">DTUs</acronyme>
{% endblock %}

{% block findtb-events-selection %}
    <ul id="findtb-event-picker-selection">
        {% for event in events %}
        <li class="{{ event.type }}">
            <a href="{% url findtb-eqa-tracking 0042 %}">
                <strong>{{ event.title }}</strong>
                <span>{{ event.date }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
        
   
{% block findtb-test-picker-title %}
    Select a <acronym title="Diagnostic and Treatment Unit">DTU</acronyme>
{% endblock %}



{% block findtb-test-picker-selection %}
   
   {% if dtus %}
       <ul id="findtb-test-picker-selection">
       {% for dtu in dtus %}
         <li><a href="{% url findtb-eqa-tracking 1984 %}">{{ dtu }}</a></li>
       {% endfor %}
       </ul>
   {% else %}    
        <p>Nothing to test yet</p>
   {% endif%}
   
{% endblock %}


   



