{% extends "dashboard.html" %}

{% block title %}EQA Dashboard{% endblock %}


{% block findtb-title %}EQA dashboard{% endblock %}


        
{% block findtb-events %}

   <h1>Last events</h1>
   
   {% if warnings %}
       <ul>
      {% for warning in warnings %}
        <li><a href="{% url findtb-eqa-tracking 0042 %}">{{ warning }}</a></li>
      {% endfor %}
      </ul>
   {% else %}
   
      <p>Everything is on time !</p>   
      
   {% endif %}

{% endblock %}
       
   
   
{% block findtb-test-picker-title %}Select and untested batchs by place{% endblock %}

{% block findtb-test-picker-selection %}
   
   {% if batchs %}
       <ul id="batchs" class="span-4">
       {% for batch in batchs %}
         <li><a href="{% url findtb-eqa-tracking 1984 %}">{{ batch }}</li>
       {% endfor %}
       </ul>
   {% else %}    
        <p>No untested batch in this district</p>
        <p>Wait for a DTU to send one or <a href="#">add one</a> yourself</p>
   {% endif%}
   
{% endblock %}


   



