{% extends "findtb-base.html" %}

{% block page-class %}findtb-dashboard{% endblock %}

{% block findtb-content %}


<div  id="left-column"  class="span-12">  

    {% block findtb-events %}{% endblock %}  
     
</div>


<div id="right-column"  class="span-11 last">

    <div id="findtb-subject-picker">
   
       <h2>{% block findtb-test-picker-title %}{% endblock %}</h2>
       
       {% if districts and zones %}
       
           <div id="findtb-subject-picker">
               <form id="zone-selection" class="place-selection">
                   <p><label for="zone-picker">Zone</label>
                   <select id="zone-picker" name="zone-picker">
                       {% for zone in zones %}
                            <option value="{{ zone.id }}">{{ zone }}</option>
                       {% endfor %}
                   </select>
                   <input value="ok" type="submit"/>
                </form>
                <form id="district-selection"  class="place-selection">
                   <label for="district-picker">District</label>
                   <select id="district-picker" name="district-picker">
                       {% for district in districts %}
                            <option value="{{ district.id }}">{{ district }}</option>
                       {% endfor %}
                   </select>
                   <input value="ok" type="submit"/>
                   </p>
               </form>
            </div>
        
           {% block findtb-test-picker-selection %}{% endblock %}
           
       {% else %}
           <p>Your need to fill the database with districts and zone before starting</p>
           <!-- <p><a href="#">Add one</a></p> -->
       {% endif%}
       
    </div>
   
</div>


{% endblock %} 
