{% extends base_template %}


{% block page_stylesheets %}

        <link rel="stylesheet" href="/static/findtb/css/blueprint/screen.css" type="text/css" />
        <link rel="stylesheet" href="/static/findtb/css/style.css" type="text/css" />
        
{% endblock %}

{% block javascripts %}

    {{ form.media }}
        
{% endblock %}
     
     
{% block branding %}
					<h1 class="title"><b>FIND Real Time Health Information System</b></h1>
{% endblock %}     

{% block content %}

<div id="{% block page-id %}{% endblock %}" class="findtb {% block page-class %}{% endblock %}">

    {% block menu %}
        {% include "_menu.html" %}
    {% endblock %}
    
    <form id="findtb-search-form" 
     action="{% url findtb-search %}" 
     method="get">
   
        <p>
            <input id="findtb-search" name="findtb-search" type="text"/>
            <input value="Search" type="submit"/>
        </p>
    
    </form>
    
    <h1>{% block findtb-title %}{% endblock %}</h1>

    {% block findtb-content %}
    {% endblock %}

</div>

{% block findtb-footer %}

<p class="span-24 last" id="findtb-footer">
<em>
If you encounter any issue with this system, please contact <br/>
Mr. NYESIGA Barnabas: <strong>Barnabas.Nyesiga@finddiagnostics.org</strong>
</em>
</p>

{% endblock %}

{% endblock %}

