{% extends "findtb-base.html" %}

{% block page-id %}findtb-search{% endblock %}

{% block title %}EQA and Specimen Referral Search{% endblock %}

{% block findtb-title %}EQA and Specimen Referral Search{% endblock %}

{% block findtb-content %}

<div class="span-11" >

<h2>EQA</h2>

    <table class="span-11">

    <thead>
        <tr>
          <th><acronym title="Diagnostic and Treatment Unit">
              DTU
          </acronyme></th>
          <th><acronym title="District Lab Technician">
              DLAB
          </acronyme></th>
          <th><acronym title="National TB Reference Laboratory">
              NTRL
          </acronyme></th>
          <th>Slide</th>
        </tr>
    </thead>
    <tbody>
        {% for res in results.0 %}
            <tr>
                <td>
                {{ res.dtu.parent.parent }}
                </td>
                <td>
                {{ res.dtu.parent }}
                </td>
                <td>
                {{ res.dtu }}
                </td>
                <td>
                <a href="{% url findtb-eqa-tracking 0 %}">{{ res.sputum }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

</div>

<div  class="span-11 last" >

    <h2>Specimen Referral</h2>

    <table class="span-11">

    <thead>
        <tr>
          <th><acronym title="Diagnostic and Treatment Unit">
              DTU
          </acronyme></th>
          <th><acronym title="District Lab Technician">
              DLAB
          </acronyme></th>
          <th><acronym title="National TB Reference Laboratory">
              NTRL
          </acronyme></th>
          <th>Slide</th>
        </tr>
    </thead>
    <tbody>
        {% for res in results.1 %}
            <tr>
                <td>
                {{ res.dtu.parent.parent }}
                </td>
                <td>
                {{ res.dtu.parent }}
                </td>
                <td>
                {{ res.dtu }}
                </td>
                <td>
                <a href="{% url findtb-sref-tracking 0 %}">{{ res.sputum }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

</div>

{% endblock %}

