{% extends "findtb-base.html" %}

{% block page-class %}findtb-tracking{% endblock %}

{% block findtb-content %}


<div  id="left-column"  class="span-13">  

    {% block tracking-pagination %}{% endblock %}      
        
    {% block tracking-form %}{% endblock %}

    <div id="findtb-events">
        
        <h2>{% block findtb-events-title %}{% endblock %}</h2>

        {% if events %}
            <dl id="findtb-events-filter">
                <!-- TODO : set default dashboard filter to Alerts -->
                <!-- TODO separate filters for eqa and sref so sref qet "result" filter" -->
                <dt>See:</dt>
                <dd><a href="#">Alerts</a></dd>
                <dd>All events</dd> 
            </dl>
            <!-- TODO : group alerts if there is more that 2
            alerts  from the same ZTLS and quarter. Indeed, a ztls can be late
            for several sampling and you don't want to scatter the event list
            with so much information. Optionally, clicking on the alerts group
            should make it expands so it displays all the alerts -->
            {% block findtb-events-selection %}{% endblock %}
            {% block findtb-events-more-link %}<p><a href="#">See more</a></p>{% endblock %}
        {% else %}
            <p>Nothing has happen yet</p>   
        {% endif %}
    
    </div>
    
   
    
    <h2>Contacts</h2>
    
    {% block findtb-contacts %}
    
    {% endblock %}
   
     
</div>


<div id="right-column"  class="span-10 last">

    <!-- TODO : FOR SREF, make a list of available DTUs (something like dl/dt/dd) 
    and when you click on it, it expends corresponding samples. -->
   
    <div id="findtb-subject-picker">
   
       <h2>{% block findtb-test-picker-title %}{% endblock %}</h2>
       
       {% if districts and zones %}
       
           <form id="place-selection">
               <p><label for="zone-picker">Zone</label>
               <select id="zone-picker" name="zone-picker">
                   {% for zone in zones %}
                        <option>{{ zone }}</option>
                   {% endfor %}
               </select>
               <label for="district-picker">District</label>
               <select id="district-picker" name="district-picker">
                   {% for district in districts %}
                        <option>{{ district }}</option>
                   {% endfor %}
               </select>
               <input value="ok" type="submit"/>
               </p>
           </form>
           
           {% block findtb-test-picker-selection %}{% endblock %}
           
       {% else %}
           <p>Your need to fill the database with districts and zone before starting</p>
           <!-- <p><a href="#">Add one</a></p> -->
       {% endif%}
       
    </div>
   
</div>


{% endblock %} 
