{% extends "findtb-base.html" %}

{% block page-class %}findtb-dashboard{% endblock %}

{% block findtb-content %}


<div  id="left-column"  class="span-12">        
        
    <div id="findtb-events">
        
        <h2>{% block findtb-events-title %}{% endblock %}</h2>

        {% if states %}
            <dl id="findtb-events-filter">
                <dt>See:</dt>
                <dd><a href="#">Alerts</a></dd>
                <dd>All events</dd> 
            </dl>
            {% block findtb-events-selection %}{% endblock %}
            {% block findtb-events-more-link %}<p><a href="#">See more</a></p>{% endblock %}
        {% else %}
            <p>Nothing has happen yet</p>   
        {% endif %}
    
    </div>
     
</div>


<div id="right-column"  class="span-11 last">

    <div id="findtb-subject-picker">
   
       <h2>{% block findtb-test-picker-title %}{% endblock %}</h2>
       
       {% if districts and zones %}
       
           <form id="place-selection">
               <p><label for="zone-picker">Zone</label>
               <select id="zone-picker" name="zone-picker">
                   {% for zone in zones %}
                        <option>{{ zone }}</option>
                   {% endfor %}
               </select>
               <label for="district-picker">District</label>
               <select id="district-picker" name="district-picker">
                   {% for district in districts %}
                        <option>{{ district }}</option>
                   {% endfor %}
               </select>
               <input value="ok" type="submit"/>
               </p>
           </form>
           
           {% block findtb-test-picker-selection %}{% endblock %}
           
       {% else %}
           <p>Your need to fill the database with districts and zone before starting</p>
           <!-- <p><a href="#">Add one</a></p> -->
       {% endif%}
       
    </div>
   
</div>


{% endblock %} 
