
{% extends "base.html" %}

{% block title %}
Alertes 
{% endblock %}

{% block page-id %}
warnings
{% endblock %}



{% block menu %}
{% include "_menu.html" %}
{% endblock %} 		

{% block content %}

        
   <form id="quick-nav-block" action="{% url findtb-tracking 1984 %}" method="post">
       
        <p>
       
            <label for="quick-nav">Go to bacth or slides</label>
        
            <input id="quick-nav" name="quick-nav" type="text"/>
            
            <input value="Go" type="submit"/>
        
        </p>
        
   </form>

 
   <div  id="left-column"  class="span-11">
   
       <h1>Alerts</h1>
       
       {% if warnings %}
           <ul>
          {% for warning in warnings %}
            <li><a href="{% url findtb-tracking 0042 %}">{{ warning }}</a></li>
          {% endfor %}
          </ul>
       {% else %}
       
          <p>Everything is on time !</p>   
          
       {% endif %}
   
   </div>
   
   <div id="home-right-column"  class="span-11 last">
   
       <h1>Untested batchs</h1>
       
       {% if districts %}
       
           <form id="district-selection">
               <p>District 
               <select>
                   {% for district in districts %}
                        <option>{{ district }}</option>
                   {% endfor %}
               </select>
               <input value="ok" type="submit"/>
               </p>
           </form>
           
           {% if batchs %}
               <ul id="batchs" class="span-4">
               {% for batch in batchs %}
                 <li><a href="{% url findtb-tracking 1984 %}">{{ batch }}</li>
               {% endfor %}
               </ul>
           {% else %}    
                <p>No untested batch in this district</p>
                <p>Wait for a DTU to send one or <a href="#">add one</a> yourself</p>
           {% endif%}
           
       {% else %}
           <p>No district registered</p>
           <p><a href="#">Add one</a></p>
       {% endif%}
       
    </div>

{% endblock %} 
