{% extends "findtb-dashboard.html" %}

{% block page-id %}sref-dashboard{% endblock %}

{% block title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-events-title %}
    Recent follow up for all the specimens
{% endblock %}

{% block findtb-events-selection %}
    <ul id="findtb-event-picker-selection">
        {% for state in states %}
        <li class="{{ state.type }}">
            <a href="{% url findtb-sref-tracking state.tracked_item.content_object.pk %}">
                <strong>{{ state.content_object.get_long_message }}</strong>
                <span>{{ state.created }}</span> <!-- TODO : humanise created date -->
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
        
   
{% block findtb-test-picker-title %}Select a specimen{% endblock %}

{% block findtb-test-picker-selection %}
   
   <!-- TODO : group by DTU -->

   {% if specimens %}
       <ul>
       {% for dtu in dtus.iteritems %}
           {% for specimen in dtu.1 %}
             <li><a href="{% url findtb-sref-tracking specimen.pk %}">{{ specimen.patient }} form {{ specimen.location }}</a></li>
           {% endfor %}
      {% endfor %}
       </ul>
   {% else %}    
        <p>Nothing to test yet</p>
   {% endif%}
   
{% endblock %}


   



