{% extends "findtb-dashboard.html" %}

{% block page-id %}sref-dashboard{% endblock %}

{% block title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-events-title %}
    Recent follow up for all the sputums
{% endblock %}

{% block findtb-events-selection %}
    <ul id="findtb-event-picker-selection">
        {% for event in events %}
        <li class="{{ event.type }}">
            <a href="{% url findtb-sref-tracking 0042 %}">
                <strong>{{ event.title }}</strong>
                <span>{{ event.date }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
        
   
{% block findtb-test-picker-title %}Select a specimen{% endblock %}

{% block findtb-test-picker-selection %}
   
   {% if sputums %}
       <ul>
       {% for sputum in sputums %}
         <li><a href="{% url findtb-sref-tracking 1984 %}">{{ sputum }}</a></li>
       {% endfor %}
       </ul>
   {% else %}    
        <p>Nothing to test yet</p>
   {% endif%}
   
{% endblock %}


   



