{% extends "findtb-tracking.html" %}

{% block page-id %}sref-tracking{% endblock %}

{% block title %}Specimen Referal Tracking{% endblock %}

{% block findtb-title %}Referral for specimen 3093/09-150210 from Namokora HC IV{% endblock %}



{% block tracking-form %}

<h2>LPA</h2>

<form id="tracking-form">
   <p>
   <label for="rif">RIF</label>
   <select id="rif" name="rif">
            <option>Resistant</option>
            <option>Susceptible</option>
   </select>
   <label for="inh">INH</label>
   <select id="inh" name="inh">
            <option>Resistant</option>
            <option>Susceptible</option>
   </select>
   <input value="Save" type="submit"/>
   </p>
   <p>
   
   <a href="#">Invalid : ask DTU to send a new specimen</a>
   </p>
</form>
   
{% endblock %}
   
   
{% block findtb-events-title %}Follow up{% endblock %}

{% block findtb-events-selection %}

    <!-- TODO : add a cancel link in the last event so they can always undo 
    something. A good place to put it would be next to the date. 
    Cancel must be confirmed -->
    
    <!-- TODO : make simpler events in the tracking.
    There is no need to repeat the code of the specimen, the code, etc. since
    it's in the page title. A good way to implement that is to create  
    "get dashboard event title" and "get tracking event title" methods
    separatly for each state -->
    

    <ul id="findtb-event-picker-selection">
        {% for event in events %}
        <li class="{{ event.type }}">
                <strong>{{ event.title }}</strong>
                <span>{{ event.date }}</span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

<!-- TODO : Add a form to save patient id / name / age, etc. -->

{% block findtb-contacts %}
            {% if contacts %}
               <dl id="findtb-contacts">
                {% for contact in contacts %}
                    <dt>{{ contact.type }}:</dt>
                    <dl><a href="#">{{ contact.name }}</a></dl>
               {% endfor %}
               </dl>
            {% else %}
               <p>No contact for this specimen</p>
            {% endif %}
{% endblock %}



{% block findtb-test-picker-title %}Select a specimen{% endblock %}

{% block findtb-test-picker-selection %}
   
   {% if sputums %}
       <ul>
       {% for sputum in sputums %}
         <li><a href="{% url findtb-sref-tracking 1984 %}">{{ sputum }}</a></li>
       {% endfor %}
       </ul>
   {% else %}    
        <p>Nothing to test yet</p>
   {% endif%}
   
{% endblock %}
