{% extends "findtb-dashboard.html" %}

{% load findtb_format  %}

{% block page-id %}sref-dashboard{% endblock %}

{% block title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-title %}Specimen Referral Dashboard{% endblock %}


{% block findtb-events %}


<div id="findtb-events">
    
    <h2>Recent follow up for all the specimens</h2>

    {% if all_events %}
    
    
        <dl id="findtb-events-filter">
            <dt>See: </dt>
            {% ifequal event_type 'alert' %}
             <dd>Alerts</dd>
            {% else %}
             <dd><a href="{% url findtb-sref-dashboard 'alert' %}">Alerts</a></dd>
            {% endifequal %}
            {% ifequal event_type 'all' %}
             <dd>All events</dd>
            {% else %}
             <dd><a href="{% url findtb-sref-dashboard 'all' %}">All events</a></dd>
            {% endifequal %}
        </dl>
        
        {% if events %}
        
            <ul id="findtb-event-picker-selection">
                {% for state in events %}
                <li class="{{ state.type }}">
                    <a href="{% url findtb-sref-tracking state.tracked_item.content_object.pk %}">
                        <strong>{{ state.content_object.get_long_message }}</strong>
                        <span>{{ state.created|humanize_time_delta }}</span> 
                    </a>
                </li>
                {% endfor %}
            </ul>
            
            {% if more_events %}
                <p>
                    <a href="{% url findtb-sref-dashboard event_type %}?events_count={{ events_count }}&events_inc={{ events_inc }}">
                        See more
                </a>
            </p>
            {% endif %}
            
        {% else %}
            <p>No alerts yet</p>   
        {% endif %}

        
    {% else %}
        <p>Nothing has happen yet</p>   
    {% endif %}

</div>


{% endblock %}
        
   
{% block findtb-test-picker-title %}Select a specimen{% endblock %}

{% block findtb-test-picker-selection %}
   
   <!-- TODO : group by DTU -->

   {% if dtus %}
       <dl>
       {% for loc in dtus.iteritems %}
           <dt class="{{ loc.1.expansion }}">
                {% ifequal loc.1.expansion "expandable" %}
                    <a href="{% url findtb-sref-dashboard %}?selected_subject={{ loc.0 }}">
                {% else %}
                    <a href="{% url findtb-sref-dashboard %}?selected_subject=0">
                {% endifequal %}
                        <span>{{ loc.1.dtu.name }}</span>
                    </a>
                    

           </dd>
           {% for specimen in loc.1.specimens %}
           <dd class="{{ loc.1.expansion }}">
                <a href="{% url findtb-sref-tracking specimen.pk %}">
                    [{{ specimen.tracking_tag }}] Patient {{ specimen.patient }} 
                </a>
            </dd>
           {% endfor %}
       {% endfor %}
       </dl>
   {% else %}    
        <p>No specimens to test yet</p>
   {% endif%}
   
{% endblock %}


   



