{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Change CHW" %}{% endblock %}

{% block content %}
<div style="margin-top: 2em">
{% if form %}
    <b>{% trans "Change" %} {{ chw }} ({{ chw.username }})'s {% trans "patients to" %}</b>
    <form action="{% url cc-change_chw chw.username %}" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
{% endif %}
{% if status %}
    <div class="message">{{ status }}</div>
{% endif %}
</div>
{% endblock %}
