{% extends base_template %}
{% block title %}Web Message Tester{% endblock %}
{% block page_stylesheets %}
<!-- page_stylesheets is called before jquery is loaded (prototype.js must load first, then call noConflict() afterwards)
 -->
<link rel="stylesheet" type="text/css" href="/static/http/stylesheets/data_entry.css" />
<script type="text/javascript" src="/static/http/scripts/prototype.js"></script>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
<!--
jQuery.noConflict();
-->
</script>
<!-- Currently, not all the scriptaculous featuers are being used, so we might want to narrow down the nubmer of scripts being loaded before going live.
 -->
<script type="text/javascript" src="/static/http/scripts/scriptaculous.js"></script>
<!--     » data_entry.js is not stable at the moment
<script type="text/javascript" src="/static/http/scripts/data_entry.js"></script>
-->
<script type="text/javascript">

/*-- T  (Translations can be overridden for different languages)
--*/

//some of these translations can be merged.

var T={
	edit: 'Edit',
	'delete': 'Delete',
	months: 'Jan Feb Mar Apr Jun Jul Aug Sep Oct Nov Dec',
	weekdays: 'Sun Mon Tue Wed Thu Fri Sat',
	create_sms: 'Create SMS',
	submit_sms: 'Submit your SMS',
	messageSynced: 'Message is synced with server',
	syncBeforeLeaving: 'do you want to leave? You have messages still to be sent',
	confirmSending: 'Would you like to send this message to the server?',
	submitThisMessage: 'Do you want to submit this message?',
	editModeIconTitle: 'Text is in edit mode',
	notSyncedClickToSync: 'Text is not synced with server (click to sync)',
	syncBeforeChangingNumber: 'Would you like to sync records with server before changing phone number?'
}


var Popup={
	confirm: function(evt, message, opts){
		var _ok=confirm(message);
		if(_ok && typeof(opts['ok'])=='function') {
			opts['ok']();
		} else if(typeof(opts['no'])=='function') {
			opts['no']();
		}
	}
}


/*-- Globals 
--*/

var smss=$A();

/*-- Dev Variables (to be removed before production) 
--*/

var phoneNumber="254733202270"
var sampleMessage="new diallo fatimata f 080408 amie 5442222";

/*-- Misc Functions
--*/

function pumpSms(elm) { //pushes input down to SMS table
	new Sms({
		message: elm.value,
		send: false,
		icon: ['bad', 'This element has not synced with the server yet']
	});
	elm.value="";
}

function checkSynced() {
	var _tzz=smss.findAll(function(ssm){
		return !ssm.isSynced()
	});
	console.log(_tzz);
	if(_tzz.length>0) {
		$('is_synced').removeClassName('true').down('span').update('no')
		return false;
	} else {
		$('is_synced').addClassName('true').down('span').update('yes')
		return true;
	}
}

function checkPhoneNumberExists() {
	if($('phone').value.strip().match(/^\d+$/)) {
		$('phone_number_defined').addClassName('true').update('true');
		return true;
	} else {
		$('phone_number_defined').removeClassName('true').update('false');
		return false;
	}
}

function checkForError(str) { //defaults to true until we define a code for errors in response text
	return true
}


/*-- Input SMS Box
--*/

var submitButton=new Element('a', {className: 'rtFloatButton', href: '#', title: T.submit_sms}).update(T.create_sms);
var entryInput=new Element('input', {type:'text', className:'transparent'});
var entryRow=new Element('div').insert(entryInput).insert(submitButton);

entryInput.observe('keypress', function(evt) {
	if(evt.which==Event.KEY_RETURN) {
		pumpSms(evt.element());
		evt.stop();
	}
});
submitButton.observe('click', function(evt){evt.stop();
	var _inp=evt.element().up('div').down('input');
	pumpSms(_inp);
});

//$(document).observe('dom:loaded', function(){ MOVED TO BELOW
//	$('der').down('tbody').update(entryRow.wrap('td').wrap('tr', {id: 'data_entry_row'})); 
//})

$(document).observe('unload', function() { //this isn't working at the moment
	checkSynced();
	if(!$('is_synced').hasClassName('true')) {
		confirm(T.syncBeforeLeaving);
	}
})

/*-- SMS CLASS 
--*/

var Sms=Class.create({
	initialize: function(opts){
		smss.push(this);

		this.req=null;
		this.o=opts;
		this.synced=(this.o['synced']);
		this.data=this.o.serial;
		this.message=this.o['message'] || sampleMessage; //sample sms will be removed
		this.phoneNumber=phoneNumber;
		this.getStatus();
		this.icon=new Element('td', {className: 'icon'}).insert(new Element('div'))
		if(this.o['icon']) {
			this.setIconInfo(this.o['icon'][0], this.o['icon'][1]);
			this.icon.stopObserving('click');
			this.icon.observe('click', function(evt) {
				Popup.confirm(evt, T.confirmSending, {
					ok: this.submitEditor.bind(this),
					'no': function() {
						alert('As you wish.');
					}
				})
			}.bind(this))
		} else {
			this.setIconInfo('ok');
		}
		this.elem=new Element('p', {className: 'msg'}).insert(this.message.split(' ').map(function(tzt){return '<span> '+tzt+' </span>'}).join(' '));
		this.info=new Element('p', {className: 'iInfo'}).wrap('td', {className:'mInfo'});
		this.tdElem=this.elem.wrap('td', {className: 'sms_body'}); //new Element('td').update();
		this.editNow=new Element('a', {className: 'edit_icon', href:'#', title: T.edit}).update('Edit');

		this.insideForm=new Element('form').insert(new Element('input', {name: 'message', value: this.message, className: 'editor_field'}));
		this.tdElem.insert(this.insideForm);

		this.edits=new Element('td').update(this.editNow);
		this.items=$A([
			this.icon,
			this.info,
			this.tdElem
			])
			
		this.tr=this.items.inject(new Element('tr'), function(_tr, _lem){return _tr.insert(_lem)});
		$('results').down('tbody').insert(this.tr);
		this.setupEditor();
//		this.setupSelector();
		$('message_count').update(smss.length)

		this.tr.identify();
		this.startTd=new Element('td');
	},
	isSynced: function() {
		return this.synced;
	},
	setIconInfo: function(str, tit, clickEvt) {
		this.icon.className='icon '+str;
		this.icon.title=tit || '';
		if(clickEvt) { this.icon.observe('click', clickEvt) }
	},
	selected: function() {
		return this.tr.hasClassName('selected');
	},
	select: function() {
		this.tr.up().select('tr.selected').each(function(qt){qt.removeClassName('selected')});
		this.tr.addClassName('selected');
	},
/*--	setupSelector: function() {
		this.tr.select('td').each(function(tdt){
			tdt.observe('click', function(){this.select()}.bind(this))
		}.bind(this))
	}, --*/
	setupEditor: function() {
		this.elem.observe('click', function(evt) {
			this.insideForm.down('input').observe('keypress', function(evt){
				if(evt.which==Event.KEY_RETURN) {
					evt.stop();
					Popup.confirm(evt, T.submitThisMessage, {
						ok: this.submitEditor.bind(this),
						no: function(){}
					})
				}
			}.bind(this))
			this.tdElem.addClassName('edit');
			this.setIconInfo('edit', T.editModeIconTitle);
			this.insideForm.down('input').observe('change', function(){
				this.markSynced(false);
				this.setIconInfo('bad', T.notSyncedClickToSync)
			}.bind(this))
			this.icon.stopObserving('click');
			this.icon.observe('click', function(evt){Popup.confirm(evt, T.submitThisMessage, {
				ok: this.submitEditor.bind(this),
				no: function(){}
			})}.bind(this))
		}.bind(this))
	},
	submitEditor: function() {
		this.message=this.insideForm.down('input').value;
		new Ajax.Request("/http/proxy/"+this.phoneNumber+"/"+this.message, {
			method: 'get',
			onSuccess: function(evt) {
				var _message=evt.responseText.evalJSON()['message'];
				this.message=_message;
				this.elem.update(this.message);
				this.showError();
				this.ar=new Ajax.Request('/http/proxy/'+phoneNumber+'/json_resp', {
					onSuccess: function(evt) {
						var _t=evt.responseText.evalJSON();
						this.showError(_t['message']);
						this.markSynced(true);
					}.bind(this)
				})
				this.tdElem.removeClassName('edit');
//				this.markSynced(true);
				this.setIconInfo('ok', T.messageSynced);
				this.icon.stopObserving('click');
			}.bind(this)
		})
	},
	markSynced: function(tfs) {
		if(tfs) {
			this.synced=true;
		} else {
			this.synced=false;
		}
		checkSynced();
	},
	getStatus: function() {this.status=0},
	receive: function(a) {
		this.tr.removeClassName('pending');
		this.responseReq=new Ajax.Request('/http/proxy/'+phoneNumber+'/json_resp', {
			onSuccess: this.checkSuccess.bind(this)
		})
		return a;
	},
	checkSuccess: function(evt) {
		var _json=evt.responseText.evalJSON();
		this.showError(_json['message'])
	},
	showError: function(error) {
		if(!this.elem.down('.errorbox')) {
			this.errorMessage=new Element('span', {className: 'errorMessage'});
			this.errorBox=new Element('div', {className: 'errorbox'}).insert('(').insert(this.errorMessage).insert(')');
			this.elem.insert(this.errorBox);
		}
		if(typeof(error)!=='undefined') {
			if(checkForError(error)) {
				this.errorMessage.setStyle('color:#cf1313');
			} else {
				this.errorMessage.setStyle('color:#333');
			}
			this.errorMessage.update(error)
		}
	}
});

/*-- PhoneNumberOption:
     -- Helps visually require a phone number be set before proceeding with sms entry
--*/


var PhoneNumberOption={
	show: function() {
		$$('.required_info').each(function(elm){
			elm.appear({duration: 0.125});
		});
		$$('.enable_when_ready').each(function(elm){
			elm.removeClassName('ready');
		});
		$('phone-submit').observe('click', function(evt){
			if(checkPhoneNumberExists()) {
				PhoneNumberOption.hide();
			}
		})
	},
	hide: function() {
		$$('.required_info').each(function(elm){
			elm.fade({duration: 0.125});
		});
		$$('.enable_when_ready').each(function(elm){
			elm.addClassName('ready');
		});
	}
}

function tryToEditPhoneNumber() {
	if(!checkSynced()) {
		PhoneNumberOption.show()
	} else {
		if(confirm(T.syncBeforeChangingNumber)) {
		}
	}
}


$(document).observe('dom:loaded', function() {
	$('der').down('tbody').update(entryRow.wrap('td').wrap('tr', {id: 'data_entry_row'}));
	
	$$('.edit_phone_number').first().observe('click', function(evt){
		tryToEditPhoneNumber();
		evt.stop();
	})

	PhoneNumberOption.show();

	new Sms({
		message: sampleMessage,
		synced: true
	})

	$('sync').observe('click', function(evt) {
		smss.findAll(function(sssn){return !sssn.isSynced()}).each(function(z) {
			z.submitEditor.call(z);
		})
	})
})


</script>
{% endblock %}
{% block content %}

<div id="status">
	<table>
		<tr>
			<td>CHW Phone Number Defined? <span id="phone_number_defined" class="tf"></span> - <a href="#" class="edit_phone_number">[edit]</a>
			</td>
			<td>Message Count: <span id="message_count">0</span>
			</td>
			<td>Synced with server? <span id="is_synced" class="tf"><span>unknown</span> <input type="submit" id="sync" class="enable_when_ready" value="Sync All Messages"></span>
			</td>
		</tr>
	</table>
</div>
<div class="relative">
	<div class="required_info">
		<label for="phone">Phone Number: <input type="text" id="phone" name="phone" value="{{number}}" /><input type="submit" id="phone-submit" name="psub" value="Submit" /></label>
	</div>
</div>
<div class="relative">
	<div class="enable_when_ready">
		<table class="focus_wrap">
			<tbody><tr>
				<td class="focus">
					<div><form id="der"><table><tbody>
<!--						<tr id="data_review_row"><td></td></tr> -->
						<tr id="data_entry_row"><td></td></tr>
<!--						<tr id="data_decision_row"><td></td></tr> -->
					</tbody></table></form></div>
				</td>
			</tr></tbody>
		</table>
		<h2>Message Transcription <small style="margin: 0 0 0 20px">(status: <strong id="mt_status">unknown</strong>)</small></h2>
		<div id="results">
			<table>
				<tbody id="log">
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="cool">
</div>

{% endblock %}
